// BASE COLORS
$beige: #fdfbf8;

$black: #424648;
$true-black: #000;
$good-black: #2c2e2f;

$green: #00a264;
$dark-green: #016c43;
$good-green: #669933;

$blue: #3b5999;
$dark-blue: #133783;

$red: #ca2128;
$dark-red: #97191e;
$good-red: #f15a27;

$very-light-gray: #e9eaea;
$light-gray: #a8a8a8;
$gray: #c5cbcc;
$good-gray: #f7f7f7;

$orange: #ee5a32;
$box-shadow-orange: rgba(255, 102, 51, 0.2);

$purple: #8c1ba7;

$white: #fff;

$yellow: #fbfbd6;
$dark-yellow: #ebebc4;
// --


// backgrounds
$bg-body: $good-black;
// $header-background: $job-black;

// borders
// $header-bottom-border: $orange;

// buttons
// $disabled-bg: $very-light-gray;
// $disabled-border: $gray;
// $disabled-text: $white;

// $button-yalla-bg-color: $green;
// $button-yalla-border-color: $dark-green;
// $button-yalla-text-color: $white;

// $button-subtle-bg-color-from: $white;
// $button-subtle-bg-color-to: $very-light-gray;
// $button-subtle-border-color: $gray;
// $button-subtle-text-color: $black;

// fonts
$text-color: $good-black;
$disabled-text-color: $gray;
$placeholder-text-color: $light-gray;

// messages
// $error-bg-color: $purple;
// $error-text-color: $white;
