/*
    The main.scss file is reponsible to load all of the other minor scss files.
    Each and every folder has a file with the same name, that handles importing
    all of the the files inside it.
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('/assets/fonts/SourceSansPro-ExtraLight-webfont.eot');
  src: url('/assets/fonts/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/SourceSansPro-ExtraLight-webfont.woff') format('woff'), url('/assets/fonts/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'), url('/assets/fonts/SourceSansPro-ExtraLight-webfont.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('/assets/fonts/SourceSansPro-Regular-webfont.eot');
  src: url('/assets/fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('/assets/fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/SourceSansPro-Regular-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('/assets/fonts/SourceSansPro-Semibold-webfont.eot');
  src: url('/assets/fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/SourceSansPro-Semibold-webfont.woff') format('woff'), url('/assets/fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'), url('/assets/fonts/SourceSansPro-Semibold-webfont.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('/assets/fonts/SourceSansPro-Bold-webfont.eot');
  src: url('/assets/fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/SourceSansPro-Bold-webfont.woff') format('woff'), url('/assets/fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'), url('/assets/fonts/SourceSansPro-Bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url('/assets/fonts/Lobster_1.3-webfont.eot');
  src: url('/assets/fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Lobster_1.3-webfont.woff') format('woff'), url('/assets/fonts/Lobster_1.3-webfont.ttf') format('truetype'), url('/assets/fonts/Lobster_1.3-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SSPika";
  src: url('/assets/fonts/ss-pika.eot');
  src: url('/assets/fonts/ss-pika.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ss-pika.woff') format('woff'), url('/assets/fonts/ss-pika.ttf') format('truetype'), url('/assets/fonts/ss-pika.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SSSocial";
  src: url('/assets/fonts/ss-social-regular.eot');
  src: url('/assets/fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ss-social-regular.woff') format('woff'), url('/assets/fonts/ss-social-regular.ttf') format('truetype'), url('/assets/fonts/ss-social-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

.ss-icon {
  font-family: 'SSPika';
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  display: block;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 200;
}

h2 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

/* structure.scss */

html {
  font-size: 87.5%;
  line-height: 1.71429em;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: SourceSansPro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2c2e2f;
}

html {
  height: 100%;
}

body {
  font-family: SourceSansPro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2c2e2f;
  background-color: #2c2e2f;
  height: 100%;
}

.debug {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 102, 255, 0.25)), color-stop(80%, rgba(179, 179, 255, 0.25)), to(rgba(0, 0, 0, 0))),-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 8.47458%, 100% 24px;
  background-size: 8.47458%, 100% 24px;
  -webkit-background-origin: content-box, border-box;
  background-origin: content-box, border-box;
  -webkit-background-clip: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}

.debug::after {
  content: " ";
  display: block;
  clear: both;
}

.main {
  clear: both;
  width: 100%;
  float: left;
}

.clear {
  clear: both;
}

.align-center {
  text-align: center;
}

.italic {
  font-style: italic;
  color: inherit;
}

.super-cool-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.roundfy {
  border-radius: 50%;
}

.no-opacity {
  opacity: 0;
}

@-webkit-keyframes glowing {
  from {
    background-color: white;
    -webkit-box-shadow: 0 0 9px #e9eaea;
    box-shadow: 0 0 9px #e9eaea;
  }

  50% {
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 18px #a8a8a8;
    box-shadow: 0 0 18px #a8a8a8;
  }

  to {
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 0 9px #9b9b9b;
    box-shadow: 0 0 9px #9b9b9b;
  }
}

@keyframes glowing {
  from {
    background-color: white;
    -webkit-box-shadow: 0 0 9px #e9eaea;
    box-shadow: 0 0 9px #e9eaea;
  }

  50% {
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 18px #a8a8a8;
    box-shadow: 0 0 18px #a8a8a8;
  }

  to {
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 0 9px #9b9b9b;
    box-shadow: 0 0 9px #9b9b9b;
  }
}

.glowing {
  -webkit-animation-name: glowing;
  animation-name: glowing;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.big-bang {
  cursor: pointer;
  width: 25px;
  height: 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.first-title {
  color: white;
  height: 40%;
  font-size: 1.71429em;
  line-height: 2em;
}

.eita {
  width: 100%;
  height: 25px;
  color: white;
  text-align: center;
  font-size: 1.71429em;
  line-height: 2em;
}

.explosion {
  background-color: white;
  width: 5px;
  height: 5px;
  position: absolute;
  display: none;
  border-radius: 50%;
}

.e-agora-vai {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: block;
  -webkit-box-shadow: 0 0 3px #a8a8a8;
  box-shadow: 0 0 3px #a8a8a8;
}

@-webkit-keyframes anim-top-left-1 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 812px;
    left: 1348px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-1 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 812px;
    left: 1348px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(1) {
  left: 10px;
  -webkit-animation-name: anim-top-left-1;
  animation-name: anim-top-left-1;
}

@-webkit-keyframes anim-top-left-2 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 98px;
    left: 340px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-2 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 98px;
    left: 340px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(2) {
  left: 20px;
  -webkit-animation-name: anim-top-left-2;
  animation-name: anim-top-left-2;
}

@-webkit-keyframes anim-top-left-3 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 735px;
    left: 1777px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-3 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 735px;
    left: 1777px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(3) {
  left: 30px;
  -webkit-animation-name: anim-top-left-3;
  animation-name: anim-top-left-3;
}

@-webkit-keyframes anim-top-left-4 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 92px;
    left: 1109px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-4 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 92px;
    left: 1109px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(4) {
  left: 40px;
  -webkit-animation-name: anim-top-left-4;
  animation-name: anim-top-left-4;
}

@-webkit-keyframes anim-top-left-5 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 518px;
    left: 1410px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-5 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 518px;
    left: 1410px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(5) {
  left: 50px;
  -webkit-animation-name: anim-top-left-5;
  animation-name: anim-top-left-5;
}

@-webkit-keyframes anim-top-left-6 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 299px;
    left: 921px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-6 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 299px;
    left: 921px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(6) {
  left: 60px;
  -webkit-animation-name: anim-top-left-6;
  animation-name: anim-top-left-6;
}

@-webkit-keyframes anim-top-left-7 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 438px;
    left: 184px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-7 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 438px;
    left: 184px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(7) {
  left: 70px;
  -webkit-animation-name: anim-top-left-7;
  animation-name: anim-top-left-7;
}

@-webkit-keyframes anim-top-left-8 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 174px;
    left: 1481px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-8 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 174px;
    left: 1481px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(8) {
  left: 80px;
  -webkit-animation-name: anim-top-left-8;
  animation-name: anim-top-left-8;
}

@-webkit-keyframes anim-top-left-9 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 46px;
    left: 998px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-9 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 46px;
    left: 998px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(9) {
  left: 90px;
  -webkit-animation-name: anim-top-left-9;
  animation-name: anim-top-left-9;
}

@-webkit-keyframes anim-top-left-10 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 130px;
    left: 1966px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-10 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 130px;
    left: 1966px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(10) {
  left: 100px;
  -webkit-animation-name: anim-top-left-10;
  animation-name: anim-top-left-10;
}

@-webkit-keyframes anim-top-left-11 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 372px;
    left: 677px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-11 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 372px;
    left: 677px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(11) {
  left: 110px;
  -webkit-animation-name: anim-top-left-11;
  animation-name: anim-top-left-11;
}

@-webkit-keyframes anim-top-left-12 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 499px;
    left: 48px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-12 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 499px;
    left: 48px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(12) {
  left: 120px;
  -webkit-animation-name: anim-top-left-12;
  animation-name: anim-top-left-12;
}

@-webkit-keyframes anim-top-left-13 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 149px;
    left: 1550px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-13 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 149px;
    left: 1550px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(13) {
  left: 130px;
  -webkit-animation-name: anim-top-left-13;
  animation-name: anim-top-left-13;
}

@-webkit-keyframes anim-top-left-14 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 50px;
    left: 1519px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-14 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 50px;
    left: 1519px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(14) {
  left: 140px;
  -webkit-animation-name: anim-top-left-14;
  animation-name: anim-top-left-14;
}

@-webkit-keyframes anim-top-left-15 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 271px;
    left: 1515px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-15 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 271px;
    left: 1515px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(15) {
  left: 150px;
  -webkit-animation-name: anim-top-left-15;
  animation-name: anim-top-left-15;
}

@-webkit-keyframes anim-top-left-16 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 823px;
    left: 328px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-16 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 823px;
    left: 328px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(16) {
  left: 160px;
  -webkit-animation-name: anim-top-left-16;
  animation-name: anim-top-left-16;
}

@-webkit-keyframes anim-top-left-17 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 775px;
    left: 1142px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-17 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 775px;
    left: 1142px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(17) {
  left: 170px;
  -webkit-animation-name: anim-top-left-17;
  animation-name: anim-top-left-17;
}

@-webkit-keyframes anim-top-left-18 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 715px;
    left: 53px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-18 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 715px;
    left: 53px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(18) {
  left: 180px;
  -webkit-animation-name: anim-top-left-18;
  animation-name: anim-top-left-18;
}

@-webkit-keyframes anim-top-left-19 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 281px;
    left: 969px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-19 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 281px;
    left: 969px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(19) {
  left: 190px;
  -webkit-animation-name: anim-top-left-19;
  animation-name: anim-top-left-19;
}

@-webkit-keyframes anim-top-left-20 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 795px;
    left: 269px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-20 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 795px;
    left: 269px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(20) {
  left: 200px;
  -webkit-animation-name: anim-top-left-20;
  animation-name: anim-top-left-20;
}

@-webkit-keyframes anim-top-left-21 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 896px;
    left: 1384px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-21 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 896px;
    left: 1384px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(21) {
  left: 210px;
  -webkit-animation-name: anim-top-left-21;
  animation-name: anim-top-left-21;
}

@-webkit-keyframes anim-top-left-22 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 995px;
    left: 1222px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-22 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 995px;
    left: 1222px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(22) {
  left: 220px;
  -webkit-animation-name: anim-top-left-22;
  animation-name: anim-top-left-22;
}

@-webkit-keyframes anim-top-left-23 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 48px;
    left: 1478px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-23 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 48px;
    left: 1478px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(23) {
  left: 230px;
  -webkit-animation-name: anim-top-left-23;
  animation-name: anim-top-left-23;
}

@-webkit-keyframes anim-top-left-24 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 902px;
    left: 554px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-24 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 902px;
    left: 554px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(24) {
  left: 240px;
  -webkit-animation-name: anim-top-left-24;
  animation-name: anim-top-left-24;
}

@-webkit-keyframes anim-top-left-25 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 223px;
    left: 1771px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-left-25 {
  from {
    top: 50%;
    left: 50%;
  }

  to {
    top: 223px;
    left: 1771px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-left:nth-child(25) {
  left: 250px;
  -webkit-animation-name: anim-top-left-25;
  animation-name: anim-top-left-25;
}

@-webkit-keyframes anim-top-right-1 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 332px;
    right: 951px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-1 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 332px;
    right: 951px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(1) {
  right: 10px;
  -webkit-animation-name: anim-top-right-1;
  animation-name: anim-top-right-1;
}

@-webkit-keyframes anim-top-right-2 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1118px;
    right: 49px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-2 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1118px;
    right: 49px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(2) {
  right: 20px;
  -webkit-animation-name: anim-top-right-2;
  animation-name: anim-top-right-2;
}

@-webkit-keyframes anim-top-right-3 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 909px;
    right: 528px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-3 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 909px;
    right: 528px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(3) {
  right: 30px;
  -webkit-animation-name: anim-top-right-3;
  animation-name: anim-top-right-3;
}

@-webkit-keyframes anim-top-right-4 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 785px;
    right: 1249px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-4 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 785px;
    right: 1249px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(4) {
  right: 40px;
  -webkit-animation-name: anim-top-right-4;
  animation-name: anim-top-right-4;
}

@-webkit-keyframes anim-top-right-5 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1113px;
    right: 253px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-5 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1113px;
    right: 253px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(5) {
  right: 50px;
  -webkit-animation-name: anim-top-right-5;
  animation-name: anim-top-right-5;
}

@-webkit-keyframes anim-top-right-6 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 75px;
    right: 1605px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-6 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 75px;
    right: 1605px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(6) {
  right: 60px;
  -webkit-animation-name: anim-top-right-6;
  animation-name: anim-top-right-6;
}

@-webkit-keyframes anim-top-right-7 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 967px;
    right: 608px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-7 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 967px;
    right: 608px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(7) {
  right: 70px;
  -webkit-animation-name: anim-top-right-7;
  animation-name: anim-top-right-7;
}

@-webkit-keyframes anim-top-right-8 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 932px;
    right: 854px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-8 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 932px;
    right: 854px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(8) {
  right: 80px;
  -webkit-animation-name: anim-top-right-8;
  animation-name: anim-top-right-8;
}

@-webkit-keyframes anim-top-right-9 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 877px;
    right: 1282px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-9 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 877px;
    right: 1282px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(9) {
  right: 90px;
  -webkit-animation-name: anim-top-right-9;
  animation-name: anim-top-right-9;
}

@-webkit-keyframes anim-top-right-10 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 321px;
    right: 1544px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-10 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 321px;
    right: 1544px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(10) {
  right: 100px;
  -webkit-animation-name: anim-top-right-10;
  animation-name: anim-top-right-10;
}

@-webkit-keyframes anim-top-right-11 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 908px;
    right: 1578px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-11 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 908px;
    right: 1578px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(11) {
  right: 110px;
  -webkit-animation-name: anim-top-right-11;
  animation-name: anim-top-right-11;
}

@-webkit-keyframes anim-top-right-12 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1001px;
    right: 9px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-12 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1001px;
    right: 9px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(12) {
  right: 120px;
  -webkit-animation-name: anim-top-right-12;
  animation-name: anim-top-right-12;
}

@-webkit-keyframes anim-top-right-13 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 650px;
    right: 1521px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-13 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 650px;
    right: 1521px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(13) {
  right: 130px;
  -webkit-animation-name: anim-top-right-13;
  animation-name: anim-top-right-13;
}

@-webkit-keyframes anim-top-right-14 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 118px;
    right: 270px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-14 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 118px;
    right: 270px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(14) {
  right: 140px;
  -webkit-animation-name: anim-top-right-14;
  animation-name: anim-top-right-14;
}

@-webkit-keyframes anim-top-right-15 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 552px;
    right: 1441px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-15 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 552px;
    right: 1441px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(15) {
  right: 150px;
  -webkit-animation-name: anim-top-right-15;
  animation-name: anim-top-right-15;
}

@-webkit-keyframes anim-top-right-16 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 810px;
    right: 1480px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-16 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 810px;
    right: 1480px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(16) {
  right: 160px;
  -webkit-animation-name: anim-top-right-16;
  animation-name: anim-top-right-16;
}

@-webkit-keyframes anim-top-right-17 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 656px;
    right: 1341px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-17 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 656px;
    right: 1341px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(17) {
  right: 170px;
  -webkit-animation-name: anim-top-right-17;
  animation-name: anim-top-right-17;
}

@-webkit-keyframes anim-top-right-18 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 298px;
    right: 188px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-18 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 298px;
    right: 188px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(18) {
  right: 180px;
  -webkit-animation-name: anim-top-right-18;
  animation-name: anim-top-right-18;
}

@-webkit-keyframes anim-top-right-19 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 719px;
    right: 128px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-19 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 719px;
    right: 128px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(19) {
  right: 190px;
  -webkit-animation-name: anim-top-right-19;
  animation-name: anim-top-right-19;
}

@-webkit-keyframes anim-top-right-20 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 988px;
    right: 841px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-20 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 988px;
    right: 841px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(20) {
  right: 200px;
  -webkit-animation-name: anim-top-right-20;
  animation-name: anim-top-right-20;
}

@-webkit-keyframes anim-top-right-21 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 198px;
    right: 1464px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-21 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 198px;
    right: 1464px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(21) {
  right: 210px;
  -webkit-animation-name: anim-top-right-21;
  animation-name: anim-top-right-21;
}

@-webkit-keyframes anim-top-right-22 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 832px;
    right: 1492px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-22 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 832px;
    right: 1492px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(22) {
  right: 220px;
  -webkit-animation-name: anim-top-right-22;
  animation-name: anim-top-right-22;
}

@-webkit-keyframes anim-top-right-23 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 897px;
    right: 1142px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-23 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 897px;
    right: 1142px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(23) {
  right: 230px;
  -webkit-animation-name: anim-top-right-23;
  animation-name: anim-top-right-23;
}

@-webkit-keyframes anim-top-right-24 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1068px;
    right: 117px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-24 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 1068px;
    right: 117px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(24) {
  right: 240px;
  -webkit-animation-name: anim-top-right-24;
  animation-name: anim-top-right-24;
}

@-webkit-keyframes anim-top-right-25 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 269px;
    right: 1779px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-top-right-25 {
  from {
    top: 50%;
    right: 50%;
  }

  to {
    top: 269px;
    right: 1779px;
    width: 2px;
    height: 2px;
  }
}

div.e-top-right:nth-child(25) {
  right: 250px;
  -webkit-animation-name: anim-top-right-25;
  animation-name: anim-top-right-25;
}

@-webkit-keyframes anim-bottom-right-1 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 950px;
    right: 657px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-1 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 950px;
    right: 657px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(1) {
  right: 10px;
  -webkit-animation-name: anim-bottom-right-1;
  animation-name: anim-bottom-right-1;
}

@-webkit-keyframes anim-bottom-right-2 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 324px;
    right: 3px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-2 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 324px;
    right: 3px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(2) {
  right: 20px;
  -webkit-animation-name: anim-bottom-right-2;
  animation-name: anim-bottom-right-2;
}

@-webkit-keyframes anim-bottom-right-3 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 993px;
    right: 60px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-3 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 993px;
    right: 60px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(3) {
  right: 30px;
  -webkit-animation-name: anim-bottom-right-3;
  animation-name: anim-bottom-right-3;
}

@-webkit-keyframes anim-bottom-right-4 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 918px;
    right: 937px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-4 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 918px;
    right: 937px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(4) {
  right: 40px;
  -webkit-animation-name: anim-bottom-right-4;
  animation-name: anim-bottom-right-4;
}

@-webkit-keyframes anim-bottom-right-5 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 974px;
    right: 1433px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-5 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 974px;
    right: 1433px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(5) {
  right: 50px;
  -webkit-animation-name: anim-bottom-right-5;
  animation-name: anim-bottom-right-5;
}

@-webkit-keyframes anim-bottom-right-6 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 668px;
    right: 972px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-6 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 668px;
    right: 972px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(6) {
  right: 60px;
  -webkit-animation-name: anim-bottom-right-6;
  animation-name: anim-bottom-right-6;
}

@-webkit-keyframes anim-bottom-right-7 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 1072px;
    right: 905px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-7 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 1072px;
    right: 905px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(7) {
  right: 70px;
  -webkit-animation-name: anim-bottom-right-7;
  animation-name: anim-bottom-right-7;
}

@-webkit-keyframes anim-bottom-right-8 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 996px;
    right: 1063px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-8 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 996px;
    right: 1063px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(8) {
  right: 80px;
  -webkit-animation-name: anim-bottom-right-8;
  animation-name: anim-bottom-right-8;
}

@-webkit-keyframes anim-bottom-right-9 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 872px;
    right: 1072px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-9 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 872px;
    right: 1072px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(9) {
  right: 90px;
  -webkit-animation-name: anim-bottom-right-9;
  animation-name: anim-bottom-right-9;
}

@-webkit-keyframes anim-bottom-right-10 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 945px;
    right: 885px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-10 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 945px;
    right: 885px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(10) {
  right: 100px;
  -webkit-animation-name: anim-bottom-right-10;
  animation-name: anim-bottom-right-10;
}

@-webkit-keyframes anim-bottom-right-11 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 932px;
    right: 1664px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-11 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 932px;
    right: 1664px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(11) {
  right: 110px;
  -webkit-animation-name: anim-bottom-right-11;
  animation-name: anim-bottom-right-11;
}

@-webkit-keyframes anim-bottom-right-12 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 812px;
    right: 1548px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-12 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 812px;
    right: 1548px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(12) {
  right: 120px;
  -webkit-animation-name: anim-bottom-right-12;
  animation-name: anim-bottom-right-12;
}

@-webkit-keyframes anim-bottom-right-13 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 1008px;
    right: 1367px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-13 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 1008px;
    right: 1367px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(13) {
  right: 130px;
  -webkit-animation-name: anim-bottom-right-13;
  animation-name: anim-bottom-right-13;
}

@-webkit-keyframes anim-bottom-right-14 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 23px;
    right: 1032px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-14 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 23px;
    right: 1032px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(14) {
  right: 140px;
  -webkit-animation-name: anim-bottom-right-14;
  animation-name: anim-bottom-right-14;
}

@-webkit-keyframes anim-bottom-right-15 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 85px;
    right: 196px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-15 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 85px;
    right: 196px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(15) {
  right: 150px;
  -webkit-animation-name: anim-bottom-right-15;
  animation-name: anim-bottom-right-15;
}

@-webkit-keyframes anim-bottom-right-16 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 238px;
    right: 979px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-16 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 238px;
    right: 979px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(16) {
  right: 160px;
  -webkit-animation-name: anim-bottom-right-16;
  animation-name: anim-bottom-right-16;
}

@-webkit-keyframes anim-bottom-right-17 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 346px;
    right: 1242px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-17 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 346px;
    right: 1242px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(17) {
  right: 170px;
  -webkit-animation-name: anim-bottom-right-17;
  animation-name: anim-bottom-right-17;
}

@-webkit-keyframes anim-bottom-right-18 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 481px;
    right: 413px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-18 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 481px;
    right: 413px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(18) {
  right: 180px;
  -webkit-animation-name: anim-bottom-right-18;
  animation-name: anim-bottom-right-18;
}

@-webkit-keyframes anim-bottom-right-19 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 374px;
    right: 356px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-19 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 374px;
    right: 356px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(19) {
  right: 190px;
  -webkit-animation-name: anim-bottom-right-19;
  animation-name: anim-bottom-right-19;
}

@-webkit-keyframes anim-bottom-right-20 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 912px;
    right: 650px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-20 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 912px;
    right: 650px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(20) {
  right: 200px;
  -webkit-animation-name: anim-bottom-right-20;
  animation-name: anim-bottom-right-20;
}

@-webkit-keyframes anim-bottom-right-21 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 563px;
    right: 468px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-21 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 563px;
    right: 468px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(21) {
  right: 210px;
  -webkit-animation-name: anim-bottom-right-21;
  animation-name: anim-bottom-right-21;
}

@-webkit-keyframes anim-bottom-right-22 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 798px;
    right: 880px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-22 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 798px;
    right: 880px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(22) {
  right: 220px;
  -webkit-animation-name: anim-bottom-right-22;
  animation-name: anim-bottom-right-22;
}

@-webkit-keyframes anim-bottom-right-23 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 355px;
    right: 1018px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-23 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 355px;
    right: 1018px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(23) {
  right: 230px;
  -webkit-animation-name: anim-bottom-right-23;
  animation-name: anim-bottom-right-23;
}

@-webkit-keyframes anim-bottom-right-24 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 829px;
    right: 152px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-24 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 829px;
    right: 152px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(24) {
  right: 240px;
  -webkit-animation-name: anim-bottom-right-24;
  animation-name: anim-bottom-right-24;
}

@-webkit-keyframes anim-bottom-right-25 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 1005px;
    right: 1731px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-right-25 {
  from {
    bottom: 50%;
    right: 50%;
  }

  to {
    bottom: 1005px;
    right: 1731px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-right:nth-child(25) {
  right: 250px;
  -webkit-animation-name: anim-bottom-right-25;
  animation-name: anim-bottom-right-25;
}

@-webkit-keyframes anim-bottom-left-1 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 640px;
    left: 1163px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-1 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 640px;
    left: 1163px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(1) {
  left: 10px;
  -webkit-animation-name: anim-bottom-left-1;
  animation-name: anim-bottom-left-1;
}

@-webkit-keyframes anim-bottom-left-2 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1100px;
    left: 1024px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-2 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1100px;
    left: 1024px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(2) {
  left: 20px;
  -webkit-animation-name: anim-bottom-left-2;
  animation-name: anim-bottom-left-2;
}

@-webkit-keyframes anim-bottom-left-3 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 58px;
    left: 1703px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-3 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 58px;
    left: 1703px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(3) {
  left: 30px;
  -webkit-animation-name: anim-bottom-left-3;
  animation-name: anim-bottom-left-3;
}

@-webkit-keyframes anim-bottom-left-4 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 104px;
    left: 647px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-4 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 104px;
    left: 647px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(4) {
  left: 40px;
  -webkit-animation-name: anim-bottom-left-4;
  animation-name: anim-bottom-left-4;
}

@-webkit-keyframes anim-bottom-left-5 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 829px;
    left: 1252px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-5 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 829px;
    left: 1252px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(5) {
  left: 50px;
  -webkit-animation-name: anim-bottom-left-5;
  animation-name: anim-bottom-left-5;
}

@-webkit-keyframes anim-bottom-left-6 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 82px;
    left: 1825px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-6 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 82px;
    left: 1825px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(6) {
  left: 60px;
  -webkit-animation-name: anim-bottom-left-6;
  animation-name: anim-bottom-left-6;
}

@-webkit-keyframes anim-bottom-left-7 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 821px;
    left: 567px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-7 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 821px;
    left: 567px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(7) {
  left: 70px;
  -webkit-animation-name: anim-bottom-left-7;
  animation-name: anim-bottom-left-7;
}

@-webkit-keyframes anim-bottom-left-8 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 804px;
    left: 1453px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-8 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 804px;
    left: 1453px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(8) {
  left: 80px;
  -webkit-animation-name: anim-bottom-left-8;
  animation-name: anim-bottom-left-8;
}

@-webkit-keyframes anim-bottom-left-9 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1080px;
    left: 1481px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-9 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1080px;
    left: 1481px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(9) {
  left: 90px;
  -webkit-animation-name: anim-bottom-left-9;
  animation-name: anim-bottom-left-9;
}

@-webkit-keyframes anim-bottom-left-10 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 802px;
    left: 646px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-10 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 802px;
    left: 646px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(10) {
  left: 100px;
  -webkit-animation-name: anim-bottom-left-10;
  animation-name: anim-bottom-left-10;
}

@-webkit-keyframes anim-bottom-left-11 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 891px;
    left: 1989px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-11 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 891px;
    left: 1989px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(11) {
  left: 110px;
  -webkit-animation-name: anim-bottom-left-11;
  animation-name: anim-bottom-left-11;
}

@-webkit-keyframes anim-bottom-left-12 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 542px;
    left: 113px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-12 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 542px;
    left: 113px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(12) {
  left: 120px;
  -webkit-animation-name: anim-bottom-left-12;
  animation-name: anim-bottom-left-12;
}

@-webkit-keyframes anim-bottom-left-13 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 541px;
    left: 1357px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-13 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 541px;
    left: 1357px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(13) {
  left: 130px;
  -webkit-animation-name: anim-bottom-left-13;
  animation-name: anim-bottom-left-13;
}

@-webkit-keyframes anim-bottom-left-14 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1049px;
    left: 1214px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-14 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1049px;
    left: 1214px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(14) {
  left: 140px;
  -webkit-animation-name: anim-bottom-left-14;
  animation-name: anim-bottom-left-14;
}

@-webkit-keyframes anim-bottom-left-15 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1076px;
    left: 1450px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-15 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1076px;
    left: 1450px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(15) {
  left: 150px;
  -webkit-animation-name: anim-bottom-left-15;
  animation-name: anim-bottom-left-15;
}

@-webkit-keyframes anim-bottom-left-16 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1020px;
    left: 1064px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-16 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1020px;
    left: 1064px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(16) {
  left: 160px;
  -webkit-animation-name: anim-bottom-left-16;
  animation-name: anim-bottom-left-16;
}

@-webkit-keyframes anim-bottom-left-17 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 763px;
    left: 1218px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-17 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 763px;
    left: 1218px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(17) {
  left: 170px;
  -webkit-animation-name: anim-bottom-left-17;
  animation-name: anim-bottom-left-17;
}

@-webkit-keyframes anim-bottom-left-18 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 530px;
    left: 777px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-18 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 530px;
    left: 777px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(18) {
  left: 180px;
  -webkit-animation-name: anim-bottom-left-18;
  animation-name: anim-bottom-left-18;
}

@-webkit-keyframes anim-bottom-left-19 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 751px;
    left: 1729px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-19 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 751px;
    left: 1729px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(19) {
  left: 190px;
  -webkit-animation-name: anim-bottom-left-19;
  animation-name: anim-bottom-left-19;
}

@-webkit-keyframes anim-bottom-left-20 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1018px;
    left: 578px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-20 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 1018px;
    left: 578px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(20) {
  left: 200px;
  -webkit-animation-name: anim-bottom-left-20;
  animation-name: anim-bottom-left-20;
}

@-webkit-keyframes anim-bottom-left-21 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 684px;
    left: 49px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-21 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 684px;
    left: 49px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(21) {
  left: 210px;
  -webkit-animation-name: anim-bottom-left-21;
  animation-name: anim-bottom-left-21;
}

@-webkit-keyframes anim-bottom-left-22 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 584px;
    left: 1012px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-22 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 584px;
    left: 1012px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(22) {
  left: 220px;
  -webkit-animation-name: anim-bottom-left-22;
  animation-name: anim-bottom-left-22;
}

@-webkit-keyframes anim-bottom-left-23 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 907px;
    left: 9px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-23 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 907px;
    left: 9px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(23) {
  left: 230px;
  -webkit-animation-name: anim-bottom-left-23;
  animation-name: anim-bottom-left-23;
}

@-webkit-keyframes anim-bottom-left-24 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 683px;
    left: 219px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-24 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 683px;
    left: 219px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(24) {
  left: 240px;
  -webkit-animation-name: anim-bottom-left-24;
  animation-name: anim-bottom-left-24;
}

@-webkit-keyframes anim-bottom-left-25 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 423px;
    left: 1212px;
    width: 2px;
    height: 2px;
  }
}

@keyframes anim-bottom-left-25 {
  from {
    bottom: 50%;
    left: 50%;
  }

  to {
    bottom: 423px;
    left: 1212px;
    width: 2px;
    height: 2px;
  }
}

div.e-bottom-left:nth-child(25) {
  left: 250px;
  -webkit-animation-name: anim-bottom-left-25;
  animation-name: anim-bottom-left-25;
}