<div class="wrapper">
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
    <div class="explosion e-top-left"></div>
</div>
<div class="wrapper">
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
    <div class="explosion e-top-right"></div>
</div>
<div class="wrapper">
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
    <div class="explosion e-bottom-right"></div>
</div>
<div class="wrapper">
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
    <div class="explosion e-bottom-left"></div>
</div>
{{outlet}}